/* Testing autoprefixer */ 
.autoprefixer { 
    display: flex; 
}
 /* Testing cssnext */ 
 .cssnext { 
    background: color(red alpha(-30%)); 
} 
 /* Testing precss */ 
 .precss { 
    @if 3 < 5 { 
    background: red; 
    } @else { 
    background: blue; 
    } 
}